body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 950px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
}

/*.container {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
}*/

.footer {
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 100%;
  height: 50px;
  background-color: #f1f1f1;
}

.full-movies {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 100%;
  height: 330px;
}

.full-movies .title {
  margin: 0 auto;
}

/*.latest {
  position: relative;
  float: left;
  clear: both;
  z-index: 24;
  width: 100%;
  height: 900px;
  background-color: rgb(255, 255, 255);
}*/

/*.latest .ad {
  width: 160px;
  height: 600px;
}*/

/*.latest .title {
  float: left;
  margin: auto;
}*/

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 60px;
  background-color: rgba(232, 232, 232, 0.6);
}

.nav-bar {
  position: relative;
  width: 458px;
  height: 70px;
  margin: 0 auto;
}

.nav-bar .text {
  float: left;
  font-size: 0.25em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 540px;
  background-color: rgba(128, 128, 128, 0.2);
}

/*.play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: rgb(255, 255, 255);
}*/

.play:hover {
  border-width: 3px;
}

/*.play-button {
  position: absolute;
  width: 226px;
  height: 70px;
}*/

.play-options {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 32;
  width: 46%;
  height: 188px;
  margin: auto;
}

.player {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 34;
  width: 100%;
  height: 480px;
  margin: 0 auto;
  overflow: hidden;
}

.presentation {
  position: relative;
  float: left;
  /*z-index: 33;*/
  width: 100%;
  height: 540px;
  /*background-image: url('../images/sample_970x545.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
}

.story {
  position: relative;
  float: left;
  width: 220px;
  height: 150px;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.theater {
  position: relative;
  float: left;
  z-index: 19;
  width: 70%;
}

.title {
  width: 235px;
  height: 64px;
}

.title .text {
  min-height: 36px;
  margin: 0 auto;
  font: normal 2.813em/1.38 Ailerons;
  color: rgb(13, 38, 55);
}

.wrapper {
  float: left;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.ad-1 {
  float: left;
  clear: both;
}

.ad-2 {
  float: right;
}

.ad-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 100%;
  height: 250px;
}

.play-1 {
  z-index: 30;
}

.play-2 {
  z-index: 28;
}

.play-3 {
  z-index: 26;
}

.play-button-1 {
  top: 118px;
  left: 163px;
  z-index: 31;
}

.play-button-2 {
  top: 0;
  left: 326px;
  z-index: 29;
}

.play-button-3 {
  top: 0;
  left: 0;
  z-index: 27;
}

.story-1 {
  z-index: 10;
  background-image: url('../images/sample_970x545%20(1).jpg');
}

.story-2 {
  z-index: 11;
  margin-left: 85px;
  background-image: url('../images/sample_970x545(2).jpg');
}

.story-3 {
  z-index: 12;
  margin-left: 91px;
  background-image: url('../images/sample_970x545(2).jpg');
}

.story-4 {
  clear: both;
  z-index: 13;
  background-image: url('../images/sample_970x545%20(1).jpg');
}

.story-5 {
  z-index: 14;
  margin-left: 85px;
  background-image: url('../images/sample_970x545(2).jpg');
}

.story-6 {
  z-index: 15;
  margin-left: 91px;
  background-image: url('../images/sample_970x545(2).jpg');
}

.story-7 {
  clear: both;
  z-index: 16;
  margin-left: 2px;
  background-image: url('../images/sample_970x545%20(1).jpg');
}

.story-8 {
  z-index: 17;
  margin-left: 85px;
  background-image: url('../images/sample_970x545(2).jpg');
}

.story-9 {
  z-index: 18;
  margin-left: 91px;
  background-image: url('../images/sample_970x545(2).jpg');
}

.text-1 {
  min-height: 38px;
}

.text-2,
.text-3,
.text-4 {
  min-height: 24px;
  margin-left: 15px;
}

.text-6 {
  float: left;
  clear: both;
  width: 21.8333333333%;
  min-height: 55px;
  margin: 40px 0 0 463px;
  border: 2px solid rgb(0, 0, 0);
  font: normal 1em/1 Ailerons;
  text-align: center;
  color: rgb(0, 0, 0);
}

/*.play a,
.play em,
.play span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Ailerons;
  font-style: normal;
  font-size: 3.125em;
  font-weight: Regular;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}*/

.text a {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span,
.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Ailerons;
  font-style: inherit;
  font-size: 7.5em;
  font-weight: Regular;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: #ffffff;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 a,
.text-2 a,
.text-3 a {
  font-family: Ailerons;
  font-style: normal;
  font-size: 7.5em;
  font-weight: Regular;
  color: #4d4d4d;
}

.text-4 a {
  font-family: Ailerons;
  font-style: inherit;
  font-size: 7.5em;
  font-weight: Regular;
  color: #4d4d4d;
}

.text-6 a {
  font-family: inherit;
  font-style: inherit;
  font-size: 2.813em;
  font-weight: inherit;
  color: inherit;
}

.play a:hover,
.play em:hover,
.play span:hover,
.text-6 a:hover {
  font-size: NaNem;
}
